:root {
  --dark-blue-color: #1f2937;
  --light-blue-color: #3882f6;
  --main-color: #f9faf8;
  --secondary-color: #e5e7eb;
  --body-width: 80%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
}

.body-dark-blue {
  background-color: var(--dark-blue-color);
}

.body-light {
  background-color: var(--main-color);
}

.body-grey {
  background-color: var(--secondary-color);
}

.nav-container {
  background-color: var(--dark-blue-color);
}

.nav {
  width: var(--body-width);
  height: 4rem;
  margin: auto;
  display: flex;
}

.nav .nav-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav .nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav a {
  text-decoration: none;
}

.header-logo {
  font-size: 24px;
  color: var(--main-color);
}

.header-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.header-links li {
  padding-left: 1.5rem;
}

.header-links a {
  font-size: 18px;
  color: var(--secondary-color);
  flex: 1;
}

.hero-container {
  padding: 7rem 0;
}

.hero {
  width: var(--body-width);
  margin: auto;
  display: flex;
}

.column {
  flex: 1;
}

.hero-left {
  padding-right: 2rem;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  color: var(--main-color);
  margin-top: 0;
}

.hero p {
  font-size: 18px;
  color: var(--secondary-color);
}

.hero a {
  background: var(--light-blue-color);
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

.hero-image {
  width: 100%;
  height: 100%;
  color: var(--main-color);
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-content {
  width: var(--body-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: var(--dark-blue-color);
}

.card-container {
  display: flex;
  width: 80%;
  padding-bottom: 6rem;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-box {
  width: 8rem;
  height: 8rem;
  border: 4px solid var(--light-blue-color);
  border-radius: 0.5rem;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 6rem 0;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: var(--dark-blue-color);
}

.quote-author {
  font-size: 24px;
  font-weight: bolder;
  color: var(--dark-blue-color);
  text-align: right;
}

.cta-container {
  width: var(--body-width);
  background-color: var(--light-blue-color);
  border-radius: 0.5rem;
  color: var(--main-color);
  display: flex;
  padding: 2.5rem 6rem;
  align-items: center;
}

.cta-body {
  flex: 1;
}

.cta-body h3 {
  margin: 0;
  padding: 0;
}

.cta-body p {
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
}

.cta-container a {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: var(--dark-blue-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
}

footer div {
  margin: auto;
}
